html {
    background-color: floralwhite;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Cambria;
}

header {
    margin-bottom: 50px;
    padding: 60px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    font-size: 25px;
    text-align: center;
    background-color: sandybrown;
    line-height: 140%; 
    }

article {
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
    }

h2 {
    font-size: 35px;
}

footer {
    border-top-style: solid;
    border-color: gray;
    border-width: 2px;
    font-size: 12px;
    font-family: Arial;
    line-height: 50%;
}

.standings-header {
    font-size: 18px;
    text-indent: 155px;
    text-decoration: underline;
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 0px;

}

.season-summary {
    font-size: 20px;
}


#player-img {
    border-style: solid;
    border-width: 2px;
    width: 500px;
}