html {
    background-color: floralwhite;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    padding: 50px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    background-color: sandybrown;
    }

article {
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
    }

h2 {
    font-size: 35px;
}

footer {
    border-top-style: solid;
    border-color: gray;
    border-size: 2px;
    font-size: 12px;
    font-family: Arial;
}


.season-summary {
    font-size: 20px;
}

#player-img {
    border-style: solid;
    border-width: 2px;
    width: 500px;
}