html {
    background-color: floralwhite;
}

header {
    padding: 50px;
    border-style:solid;
    border-bottom-color: black;
    border-width: 2px;
    font-size: 20px;
    }

article {
    margin-left: 10px;
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    }

h2 {
    font-size: 35px;
}

footer {
    border-top-style: solid;
    border-top-color: gray;
    border-top-size: 2px;
    font-size: 15px;
    margin-left: 10px;
    }


.season-summary {

}

#player-img {

}